# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__

- List popular languages for Data Science
- List popular libraries for Data Science
- List some of the open source Data Science Tools
- Examples of Arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
1. R
1. Julia
1. SQL

Some of the popular libraries that Data Scientists use are:
1. Tensorflow
1. Numpy
1. Scipy
1. Seaborn
1. Keras

|Data Science Tools|
|------------------|
|RStudio|
|Jupyter|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
4+5

In [ ]:
10-9

In [ ]:
7*5

In [ ]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

In [1]:
#This will convert 200 minutes to hours by diving by 60.
x = 200/60
print(x, "hours")

3.3333333333333335 hours

## Author
Gokulakrishnan K